<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        {%for m in messages%}

        <h1>{{m}}</h1>
        {%endfor%}

        <table>
            <tr><th>id</th><th>username</th><th>created at</th></tr>
            {%for user in users%}
            <tr><td>{{user.id}}</td><td>{{user.username}}</td><td>{{user.created_at}}</td></tr>
            {%endfor%}
        </table>
    </body>
</html>