<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <style>
            .left{
                margin-left: 100px;
                display: inline-block
            }
            h1{
                text-align: center;
            }
            .right{
                margin-left: 400px;
                display: inline-block
            }
        </style>
    </head>
    <body>
        <h1>Testimonials</h1>
        <p class="left">"The best money I ever spent was hiring Brendan to create my website!"</p>
        <p class="right">"Brendan's projects make the world a better place."</p>
    </body>
</html>