<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <style>
            form{
                width: 40%;
                margin: 10px auto;
            }
        </style>
    </head>
    <body>
        
        <form action="/process" method="post">
        {% csrf_token %}
            <fieldset>
                Your Name: <input type="text" name="name" value=""><br>
                Dojo Location: <select name="location"><br>
                    <option value="Seattle">Seattle</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Mountain View">Mountain View</option>
                </select>
                <br>
                Favorite Language: <select name="language">
                    <option value="python">python</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Ruby">Ruby</option>
                </select><br>
                Comment: <textarea name="comment" rows="3" cols="50"></textarea>
                <input type="submit" name="submit" value="Go">
            </fieldset>
        </form>
    </body>
</html>